<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Flats", flats_path  %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add a flat", new_flat_path, class: "btn btn-warning" %>
  </div>
</div>

<div class="container">
  <h1>Flats</h1>
    <div class="container">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-body flat-card">
              <h3 class="card-title"><%= flat.name %></h3>
              <p class="card-subtitle mb-2 text-muted"><%= flat.address %></p>
              <p>
                <%= flat.price_per_night %> <i class="fas fa-euro-sign"></i>
                <%= flat.number_of_guests %> <i class="fas fa-users"></i>
              </p>
            <%= link_to 'More info', flat_path(flat) %>
            </div>
          </div>
        </div>
      <% end %>
</div>


